<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exam_Scheduler.Properties.Settings.examSchedulerConnectionString"
            connectionString="Data Source=DESKTOP-TCRJGIG;Initial Catalog=examScheduler;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Exam_Scheduler.Properties.Settings.TimeTable" connectionString="Data Source=DESKTOP-4USG0EK\SQLEXPRESS;Initial Catalog=examScheduler;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>